<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.anter.feature_search_current_weather">
    <application>
        <activity android:name=".CurrentWeatherSearchActivity">
            <intent-filter>
                <action android:name="app.anter.feature_search_current_weather.open"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>